In [37]:
import polars as pl

In [38]:
df = pl.read_csv("aac_intakes_outcomes.csv")

print(df.shape)
df.head()

(79672, 41)

shape: (5, 41)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ age_upon_ ┆ animal_id ┆ date_of_b ┆ outcome_s ┆ … ┆ intake_ho ┆ intake_nu ┆ time_in_s ┆ time_in_ │
│ outcome   ┆ _outcome  ┆ irth      ┆ ubtype    ┆   ┆ ur        ┆ mber      ┆ helter    ┆ shelter_ │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ days     │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ i64       ┆ f64       ┆ str       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 10 years  ┆ A006100   ┆ 2007-07-0 ┆ null      ┆ … ┆ 14        ┆ 1.0       ┆ 0 days    ┆ 0.588194 │
│           ┆           ┆ 9         ┆           ┆   ┆           ┆           ┆ 14:07:00. ┆          │
│           ┆           ┆ 00:00:00  ┆           ┆   ┆           ┆           ┆ 000000000 ┆          │
│ 7 years   ┆ A006100   ┆ 2007-07-0 ┆ null      ┆ … ┆ 10        ┆ 2.0       ┆ 1 days    ┆ 1.259722 │
│           ┆           ┆ 9         ┆           ┆   ┆           ┆           ┆ 06:14:00. ┆          │
│           ┆           ┆ 00:00:00  ┆           ┆   ┆           ┆           ┆ 000000000 ┆          │
│ 6 years   ┆ A006100   ┆ 2007-07-0 ┆ null      ┆ … ┆ 14        ┆ 3.0       ┆ 1 days    ┆ 1.113889 │
│           ┆           ┆ 9         ┆           ┆   ┆           ┆           ┆ 02:44:00. ┆          │
│           ┆           ┆ 00:00:00  ┆           ┆   ┆           ┆           ┆ 000000000 ┆          │
│ 10 years  ┆ A047759   ┆ 2004-04-0 ┆ Partner   ┆ … ┆ 15        ┆ 1.0       ┆ 4 days    ┆ 4.970139 │
│           ┆           ┆ 2         ┆           ┆   ┆           ┆           ┆ 23:17:00. ┆          │
│           ┆           ┆ 00:00:00  ┆           ┆   ┆           ┆           ┆ 000000000 ┆          │
│ 16 years  ┆ A134067   ┆ 1997-10-1 ┆ null      ┆ … ┆ 9         ┆ 1.0       ┆ 0 days    ┆ 0.119444 │
│           ┆           ┆ 6         ┆           ┆   ┆           ┆           ┆ 02:52:00. ┆          │
│           ┆           ┆ 00:00:00  ┆           ┆   ┆           ┆           ┆ 000000000 ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [39]:
df.null_count()

shape: (1, 41)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ age_upon_ ┆ animal_id ┆ date_of_b ┆ outcome_s ┆ … ┆ intake_ho ┆ intake_nu ┆ time_in_s ┆ time_in_ │
│ outcome   ┆ _outcome  ┆ irth      ┆ ubtype    ┆   ┆ ur        ┆ mber      ┆ helter    ┆ shelter_ │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ days     │
│ u32       ┆ u32       ┆ u32       ┆ u32       ┆   ┆ u32       ┆ u32       ┆ u32       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ u32      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0         ┆ 0         ┆ 0         ┆ 43324     ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [44]:
# drop rows with null outcomes and sex
df = df.drop_nulls(subset=["outcome_type", "sex_upon_intake"])

In [46]:
# dropping columns with redundant information, keeping days for all time columns
clean_df = df.drop(
    [
        "age_upon_outcome",
        "age_upon_outcome_(years)",
        "age_upon_outcome_age_group",
        "outcome_month",
        "outcome_monthyear",
        "outcome_weekday",
        "outcome_hour",
        "dob_year",
        "dob_monthyear",
        "age_upon_intake",
        "age_upon_intake_(years)",
        "age_upon_intake_age_group",
        "intake_month",
        "intake_monthyear",
        "intake_weekday",
        "intake_hour",
        "time_in_shelter",
    ]
)

# convert date columns to datetime type
clean_df = clean_df.with_columns(
    pl.col("date_of_birth").str.to_datetime(),
    pl.col("outcome_datetime").str.to_datetime(),
    pl.col("intake_datetime").str.to_datetime(),
)

clean_df.head()

shape: (5, 24)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ animal_id ┆ date_of_b ┆ outcome_s ┆ outcome_t ┆ … ┆ intake_da ┆ intake_ye ┆ intake_nu ┆ time_in_ │
│ _outcome  ┆ irth      ┆ ubtype    ┆ ype       ┆   ┆ tetime    ┆ ar        ┆ mber      ┆ shelter_ │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ days     │
│ str       ┆ datetime[ ┆ str       ┆ str       ┆   ┆ datetime[ ┆ i64       ┆ f64       ┆ ---      │
│           ┆ μs]       ┆           ┆           ┆   ┆ μs]       ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ A006100   ┆ 2007-07-0 ┆ null      ┆ Return to ┆ … ┆ 2017-12-0 ┆ 2017      ┆ 1.0       ┆ 0.588194 │
│           ┆ 9         ┆           ┆ Owner     ┆   ┆ 7         ┆           ┆           ┆          │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆ 00:00:00  ┆           ┆           ┆          │
│ A006100   ┆ 2007-07-0 ┆ null      ┆ Return to ┆ … ┆ 2014-12-1 ┆ 2014      ┆ 2.0       ┆ 1.259722 │
│           ┆ 9         ┆           ┆ Owner     ┆   ┆ 9         ┆           ┆           ┆          │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆ 10:21:00  ┆           ┆           ┆          │
│ A006100   ┆ 2007-07-0 ┆ null      ┆ Return to ┆ … ┆ 2014-03-0 ┆ 2014      ┆ 3.0       ┆ 1.113889 │
│           ┆ 9         ┆           ┆ Owner     ┆   ┆ 7         ┆           ┆           ┆          │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆ 14:26:00  ┆           ┆           ┆          │
│ A047759   ┆ 2004-04-0 ┆ Partner   ┆ Transfer  ┆ … ┆ 2014-04-0 ┆ 2014      ┆ 1.0       ┆ 4.970139 │
│           ┆ 2         ┆           ┆           ┆   ┆ 2         ┆           ┆           ┆          │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆ 15:55:00  ┆           ┆           ┆          │
│ A134067   ┆ 1997-10-1 ┆ null      ┆ Return to ┆ … ┆ 2013-11-1 ┆ 2013      ┆ 1.0       ┆ 0.119444 │
│           ┆ 6         ┆           ┆ Owner     ┆   ┆ 6         ┆           ┆           ┆          │
│           ┆ 00:00:00  ┆           ┆           ┆   ┆ 09:02:00  ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘